/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #202020;
  color: #ffffff;
}

.sidebar-toggle {
  cursor: pointer;
}

.navbar-logo {
  height: 30px; /* Ajusta la altura de la imagen según sea necesario */
}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: #383838;
  color: #ffffff;
}

.search-button,
.voice-button,
.create-button,
.profile-button {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

/* Estilos específicos para cada botón, como hover, etc. */
