.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #202020; /* Fondo un poco más claro que el principal */
  color: #ffffff; /* Letras blancas */
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-search-container {
  display: flex;
  align-items: center;
}

.navbar-search {
  padding: 10px; /* Aumenta el padding para incrementar la altura */
  border: 2px solid #ffffff; /* Borde blanco */
  border-radius: 15px; /* Esquinas redondeadas */
  width: 640px; /* Aumenta el ancho */
  background-color: #303030; /* Fondo del mismo color que la navbar */
  color: #b3b3b3; /* Texto gris */
}

.navbar-search::placeholder {
  color: #b3b3b3; /* Color del placeholder */
}

.navbar-icons span {
  margin-left: 20px;
  cursor: pointer;
  border: 2px solid #ffffff; /* Delineado blanco */
  padding: 5px;
  border-radius: 50%; /* Esquinas redondeadas */
  background-color: transparent; /* Fondo transparente */
  color: #ffffff; /* Color de los iconos */
}
