.sidebar {
  width: 130px;
  background-color: #0f0f0f;
  color: #ffffffc0;
  padding: 10px;
  margin: 15px;
  transition: left 0.3s;
}

.sidebar-section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-button {
  display: block;
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
}


.divider {
  border-top: 1px solid #929292;
  margin: 20px 0;
}
.sidebar-logo{
    height: 2px;
    width: 1px;
    size-adjust: 2px;
    margin: 15px;
    margin-top: 0px;

}
.sidebar-toggle{
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  align-content: center;
}
/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 160px;
    position: absolute;
    left: -160px; 
    transition: left 0.3s;
  }

  .sidebar-button {
    padding: 6px;
  }

  .sidebar.open {
    left: 0;
  }
}