/* Sidebar.css */

.sidebar {
  width: 135px;
  background-color: #0f0f0f;
  color: #ffffffc0;
  padding: 10px;
  margin: 15px;
  transition: left 0.3s;
}

.sidebar-header {
  display: flex;
  flex-direction: column; /* Apila verticalmente los elementos */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  padding-bottom: 10px;
}

.youtube-logo {
  margin: -7px;
  margin-left: 10px;
  width: 160px; 
  margin-bottom: 10px; /* Espacio entre el logo y el icono del menú */
}

.sidebar-toggle {
  margin-top: -50px;
margin-right: 2cm;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-button {
  display: block;
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
}

.divider {
  border-top: 1px solid #929292;
  margin: 20px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 160px;
    position: absolute;
    left: -160px;
    transition: left 0.3s;
  }

  .sidebar-button {
    padding: 6px;
  }

  .sidebar.open {
    left: 0;
  }
}
