/* Sidebar.css */
.sidebar {
  width: 130px;
  background-color: #0f0f0f;
  color: #ffffffc0;
  padding: 20px;
  margin-right: 20px;
}

.sidebar-section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-button {
  display: block;
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.divider {
  border-top: 1px solid #929292;
  margin: 20px 0;
}
.sidebar-logo{
    height: 2px;
    width: 1px;
    size-adjust: 2px;
    margin: 15px;
    margin-top: 0px;

}
.sidebar-toggle{
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
  align-content: center;
}
