.homepage-template {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #181818; /* Fondo negro */
  }
  
  .main-content {
    display: flex;
    flex: 1;
    background-color: #181818; /* Fondo negro */
  }
  
  .video-sections {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }
  