/* Estilos para la barra de recomendaciones */
.quick-recommendation-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333; /* Fondo oscuro */
  border-radius: 20px; /* Bordes redondeados */
  
}

.quick-recommendation-button {
  background-color: #555; /* Color de fondo oscuro para los botones */
  color: #fff; /* Texto en color claro */
  border: none;
  padding: 8px 16px;
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.quick-recommendation-button + .quick-recommendation-button {
  margin-left: 10px; /* Espacio entre cada botón */
}

.quick-recommendation-button:hover {
  background-color: #777; /* Cambio de color de fondo oscuro al pasar el cursor */
}
