/* QuickRecommendationsBar.css */
.quick-recommendations-container {
    position: relative;
    z-index: 1;
  }
  
 /* QuickRecommendationsBar.css */
.quick-recommendations-bar {
    position: relative;
    
    left: 0;
    width: 100%;
    background-color: #282828;
    padding: 10px;
    z-index: 1000; /* Asegura que esté por debajo de la Navbar pero por encima del contenido */
  }
  
  .quick-recommendation-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #4d4d4d;
    color: #ffffff;
    cursor: pointer;
  }
  