/* VideoSection.css */
.video-section {
  margin-bottom: 20px;
  background-color: #181818;
}
.section-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.video-card:last-child {
  margin-right: 0; /* No hay margen derecho para el último video */
}
