/* VideoSection.css */
.video-section {
  margin-bottom: 20px;
  background-color: #0f0f0f;
}
.section-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Video Sections Styling */
.video-sections {
  padding: 10px;
}

