/* General App Styling */
.app {
  display: flex;
  height: 100%;
  background-color: #0f0f0f; /* Dark background */
  color: white; /* Light text */
}

/* Main Content Styling */
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
