.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #181818; /* Fondo negro */
  color: #ffffff; /* Letras blancas */
}

.main-content {
  display: flex;
  flex: 1;
}
