.video-card {
  display: flex;
  margin: 10px;
  cursor: pointer;
}

.video-card img {
  width: 150px;
  height: 84px; /* Aspect ratio 16:9 */
}

.video-info {
  display: flex;
  margin-left: 10px;
}

.channel-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.video-info div {
  display: flex;
  flex-direction: column;
}

.video-info h4, .video-info p {
  margin: 0;
  color: #ffffff; /* Letras blancas */
}
