/* VideoCard.css */
.video-card {
  width: 300px; /* Ancho deseado de la tarjeta */
  margin-right: 3px; /* Espacio entre tarjetas */
  position: relative;
  flex-direction: column;
  cursor: pointer;
}

.video-thumbnail {
  width: 300px; /* Ajustar la imagen al ancho de la tarjeta */
  height: 225px; /* Fija la altura deseada */
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
  border-radius: 20px;
  position: relative;
}

.duration-overlay {
  position: absolute;
  margin-top: -25px; /* Ajuste para el espacio desde el borde inferior */
  right: 10px; /* Ajuste para el espacio desde el borde derecho */
  background-color: rgba(10, 10, 10, 0.952); /* Fondo oscuro con opacidad */
  color: #ffffff; /* Texto blanco */
  padding: 2px 5px; /* Espaciado interno */
  border-radius: 3px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño del texto */
  font-weight: bold;
}

.video-info {
  display: flex;
  padding: 2px 0;
}

.channel-avatar-container {
  width: 40px; /* Ancho del contenedor de la imagen del canal */
  height: 40px; /* Altura del contenedor de la imagen del canal */
  overflow: hidden; /* Ocultar partes de la imagen que excedan las dimensiones */
  border-radius: 100%; /* Hacer el contenedor de la imagen del canal circular */
  margin: 8px;
}

.channel-avatar {
  width: 100%; /* Ajustar la imagen del canal al contenedor circular */
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 18px;
}

.channel-name {
  font-size: 16px;
  color: #666;
}

.video-meta {
  display: flex;
  align-items: center;
}

.views,
.upload-time {
  font-size: 14px;
  color: #666;
  margin-right: 10px;
}
.video-duration{
  font-size: 14px;
  color: #666;
  position:sticky;
}
.progress-bar {
  position: static;
  bottom: 0;
  left: 0;
  height:4px;
  width: 100%;
  background-color: rgb(255, 0, 0); /* Color de la barra de progreso */
}
